<section>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-10 table-responsive">
            <h1>Cliente</h1>
            <table class="table">
                <thead>
                    <tr>
                        <td>Cliente ID</td>
                        <td>Nome</td>
                        <td>E-mail</td>
                        <td>Telefone</td>
                        <td>Tipo Contato</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers">
                        <td>{{ customer.customerId }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.kindName }}</td>
                        <td><button (click)="edit(customer)">Edit</button>&nbsp;|&nbsp;<button (click)="delete(customer)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-10">
            <h2>{{ formLabel }}</h2>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-1">Nome:</label>
                        <div class="col-xs-12 col-sm-6">
                            <input class="form-control" type="text" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-1">E-mail:</label>
                        <div class="col-xs-12 col-sm-6">
                            <input class="form-control" type="text" formControlName="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-1">Telefone:</label>
                        <div class="col-xs-12 col-sm-6">
                            <input class="form-control" type="text" formControlName="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-1">Tipo Contato:</label>
                        <div class="col-xs-12 col-sm-6">
                            <select class="form-control" formControlName="kind">
                                <option *ngFor="let kind of kinds" value="{{ kind.kindId }}">{{ kind.kindName }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-footer col-xs-12 col-sm-3">
                        <button type="submit" [disabled]="!form.valid">Submit</button>
                        <button type="button" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
